target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE Files ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.DS_Store
.env
*.env

# Frontend build outputs in backend resources
src/main/resources/static/*.js
src/main/resources/static/*.css
src/main/resources/static/*.map
